<div id="<%= dom_id sent_email %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= sent_email.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= sent_email.subject %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body:</strong>
    <%= sent_email.body %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= sent_email.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= sent_email.message_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Register:</strong>
    <%= sent_email.register_id %>
  </div>
</div>
